@charset "utf-8";
/* CSS Document */
html{ height: 100%; overflow-y: scroll; }

body{
    margin:0;
    padding:0;
    font-size:16px;
    background-color: #fff;
    font-family:Verdana,Arial,sans-serif;
    color:#262626;
}
body.admin{
    background-image:none;
}
.logo{
    height:80px;
}
.navbar{
    min-height: 80px;
    background-color: #ffffff;
    background-image: none;
    box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.12);
    padding:0;
}
.navbar-brand{
    padding:0;
}
.question-box{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    color: #e9ecef;
}
#question-form{
    margin:0 auto;
}
#login-message, #message{
    padding:10px;
    margin:10px 0;
}
.btnSpk{
    padding: 5px;
    font-size: 0.8em;
    width:125px; margin-right:3px;
}
#refProgress {
  width: 100%;
  background-color: grey;
  position:relative;
}

#refBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

#timeleft{
    position:absolute;
    top:4px;
    right:10px;
    color:#ccc;
}
.links{
    background-color:#ccc;
    padding:10px;
}
.links a{
    color:#cc0000;
    text-decoration:none;
}
#ques_count{
    display:inline-block;
}
.input-group{
    margin-bottom:5px;
}
h3{
    font-size: 1.5em;
    color: #f8f9fa;
}
.content{
    position:relative;
    height:80vh;
}
#login-form{
    width:100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    
    background-color:rgba(0,0,0,0.25);
    padding:20px 30px 35px;
    border-radius:6px;
}
.form-control{
    border-radius: 0;
    padding: 5px 10px;
    font-size: 1.25em;
    border: none;
}
.login-button{
    margin-top:10px;
    color:#fff;
    background-color:#cd1d25;
    border:none;
    opacity:0.85;
}
.login-button:hover{
    background-color:#cd1d25;
    opacity:1;
}